---
import { ViewTransitions } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
---

<html lang="en">
  <head>
    <title>My Homepage</title>
    <ViewTransitions />
  </head>
  <body>
    <Layout title="About to Astro.">
      <main>
        <h1 transition:name="h1-title">About page</h1>
      </main>
    </Layout>
  </body>
</html>
