---
import Button from "@smui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sim table">
  <main class="table-wrapper">
    <Button variant="raised" transition:name="h1-title">Hello world</Button>
  </main>
</Layout>
<style></style>
