---
import Layout from "../layouts/Layout.astro";
import { Button } from "@nextui-org/react";
---

<Layout title="Sim table">
  <main class="table-wrapper">
    <div transition:name="h1-title">
      <Button client:visible variant="flat">Hello world</Button>
    </div>
  </main>
</Layout>
<style></style>
