---
import Layout from "../layouts/Layout.astro";
import TableReact from "../components/TableReact";
import ButtonReact from "../components/ButtonReact";

const response = await fetch(
    "https://directus.hoach.skryonline.com/items/sim_list"
);

const data = await response.json();
const sims = data.data;
---

<Layout title="Sim table">
    <main class="table-wrapper">
        <TableReact sims={sims} client:load />
        <ButtonReact client:visible />
    </main>
</Layout>
<style></style>
