---
import Layout from "../layouts/Layout.astro";
import { Button } from "@nextui-org/react";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <title>My Homepage</title>
    <ViewTransitions />
  </head>
  <body>
    <Layout title="Sim table">
      <div class="table-wrapper">
        <div transition:name="h1-title">
          <Button client:visible variant="flat">Hello world</Button>
        </div>
      </div>
    </Layout>
  </body>
</html>
