---
export interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/vue/Navbar.vue";
import Sidebar from "src/components/vue/Sidebar.vue";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="node_modules/svelte-material-ui/bare.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar client:load />
    <main class="content">
      <section class="page-wrapper mt-16">
        <slot />
      </section>
    </main>
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
        --navbar-height: 64px;
      }
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      .page-wrapper {
        transition:
          transform 0.5s ease-in-out,
          opacity 0.5s ease-in-out;
        margin: auto;
        padding: 1.5rem;
        max-width: 100ch;
        transition: 0.3s ease-in-out;
      }
      .content {
        display: flex;
        min-height: calc(100vh - var(--navbar-height));
      }
      .data-grid {
        transition: none;
      }
    </style>
  </body>
</html>
